<div  class="upper-login-container">
  <div class="login-container">
    <form #loginForm="ngForm" class="form-signin" ngSubmit="loginSystem()">
      <h1 class="h3 mb-3 font-weight-normal" appHighlightSignIn>Welcome!</h1>
      <label for="inputLogin" class="sr-only">Email address</label>
      <input type="login" id="inputLogin" class="form-control" placeholder="Login" required [ngModelOptions]="{standalone: true}" [(ngModel)]="model.username">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required [ngModelOptions]="{standalone: true}" [(ngModel)]="model.password">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button [appHighlight]="color" (click)="loginSystem()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </div>
</div>